*
{
    margin: 0px;
    padding: 0px;

}
html, body, div
{
    height: 100%;
    padding: 0%;
    margin: 0%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
input
{
    width: 100%;
}
#contApp
{
    height: 100%;
}
#conteinerLogin
{
    height: auto;
    padding: 5%;
    width: auto;
}
#conteinerLogin a
{
    margin: 1%;
}
#icon
{
    height: 10%;
}
#menu
{
    height: 90%;
}
#title
{
    height: 10%;
}
#appC
{
    height: 90%;
}

.form
{
    margin: 0%;
    padding: 1%;
}
.componetsInput
{
    height: 10%;
    float: left;
    margin: 1%;
    width: 40%;
}